<section class="brand-strip">
    <div class="brand-strip__container">

        <div class="brand-strip__logos">
            <img src="~/images/brand-1.png" alt="Brand" />
            <img src="~/images/brand-2.png" alt="Brand" />
            <img src="~/images/brand-3.png" alt="Brand" />
            <img src="~/images/brand-4.png" alt="Brand" />
            <img src="~/images/brand-5.png" alt="Brand" />
        </div>

        <h2 class="brand-strip__title">Modern Equipment</h2>

    </div>
</section>
