<section class="hero">

    <div class="hero__content">

        <span class="hero__badge">
            Strong Body. Strong Mind.
        </span>

        <h1 class="hero__title">
            Build Strength Boost</br> Confidence Today!
        </h1>
        <p class="hero__description">
            Begin your fitness journey with expert trainers,
            modern equipment, and a supportive environment
            designed to help you build strength and confidence.
        </p>

        <div class="hero__features">

            <div class="hero__feature">
                <i class="fa-solid fa-circle-check"></i>
                <span>Transform your body with training</span>
            </div>

            <div class="hero__feature">
                <i class="fa-solid fa-circle-check"></i>
                <span>Personal training for real results</span>
            </div>

            <div class="hero__feature">
                <i class="fa-solid fa-circle-check"></i>
                <span>Build confidence through fitness</span>
            </div>

            <div class="hero__feature">
                <i class="fa-solid fa-circle-check"></i>
                <span>Fitness tailored to your goals</span>
            </div>

        </div>

        <a href="#" class="hero__button">
            Get Started
        </a>

    </div>

    <div class="hero__image">

        <img src="~/images/hero-image.png"
             alt="Fitness Training" />

    </div>

</section>