<section class="programs-section">
    <div class="programs-section__inner">

        <div class="programs-section__header">
            <div class="programs-section__tag">
                <span></span>
                Our Programs
            </div>

            <h2>
                Professional training program<br />
                for stronger health
            </h2>
        </div>

        <div class="programs-section__grid">

            <img src="~/images/program-image-1.png" alt="Battle rope training" />
            <img src="~/images/program-image-2.png" alt="Gym equipment" />
            <img src="~/images/program-image-3.png" alt="Weight lifting" />

        </div>

        <p class="programs-section__footer">
            Let’s make something great work together.
            <a href="#">Get Free Quote</a>
        </p>

    </div>
</section>