<section class="store-section">
    <div class="store-section__inner">

        <div class="store-section__header">
            <div class="store-section__tag">
                <span></span>
                Our Store
            </div>

            <h2>
                High quality fitness products<br />
                built for results
            </h2>
        </div>

        <div class="store-section__grid">
            <div class="store-product">
                <img src="~/images/store-image-1.png" alt="Dumbbell" />
            </div>

            <div class="store-product">
                <img src="~/images/store-image-2.png" alt="Gym bag" />
            </div>

            <div class="store-product">
                <img src="~/images/store-image-3.png" alt="Fitness band" />
            </div>

            <div class="store-product">
                <img src="~/images/store-image-4.png" alt="Treadmill" />
            </div>
        </div>

        <p class="store-section__footer">
            Let’s make something great work together.
            <a href="#">Get Free Quote</a>
        </p>

    </div>
</section>