@model RegisterPasswordViewModel;
@{
    Layout = "_Layout";
}

<div class="auth-page">

    <div class="auth-card">

        <h1 class="auth-title">Set Your Password</h1>

        <p class="auth-subtitle">
            Set a strong password to protect your account. For security reasons,
            your password must be at least 8 characters long and include uppercase
            and lowercase letters, numbers, and special characters.
        </p>
        <div class="divider"></div>

        <form asp-action="RegisterPassword" method="post" class="auth-form">

            <label>Email Address *</label>
            <input asp-for="Email" class="input" type="email" placeholder="Enter Email Address" readonly />

            <label class="password-row">
                Password
            </label>

            <input asp-for="Password" class="input" type="password" placeholder="Enter Password" />
            <span asp-validation-for="Password" class="text-red-500"></span>
            <button type="submit" class="btn-primary">
                Continue →
            </button>

            <div class="checkbox-row">
                <input type="checkbox" />
                <span>Accept user terms and conditions</span>
            </div>

        </form>

    </div>

</div>