@if (User.Identity?.IsAuthenticated ?? false)
{
    <a asp-controller="Profile"
       asp-action="Index"
       class="site-header__account">
        Account
    </a>
}
else
{
    <a asp-controller="Account"
       asp-action="Login"
       class="site-header__account">
        Sign In
    </a>
}