<div class="mobile-menu"
     id="mobileMenu">

    <ul class="mobile-nav">

        <li>
            <a asp-controller="FitnessCenters"
               asp-action="Index">
                Fitness Centers
            </a>
        </li>

        <li>
            <a asp-controller="Membership"
               asp-action="Index">
                Memberships
            </a>
        </li>

        <li>
            <details>

                <summary>
                    Training
                </summary>

                <ul>

                    <li>
                        <a asp-controller="Training"
                           asp-action="PersonalTraining">
                            Personal Training
                        </a>
                    </li>

                    <li>
                        <a asp-controller="Training"
                           asp-action="GroupTraining">
                            Group Training
                        </a>
                    </li>

                    <li>
                        <a asp-controller="Training"
                           asp-action="Padel">
                            Padel
                        </a>
                    </li>

                </ul>

            </details>
        </li>

        <li>
            <a asp-controller="CustomerService"
               asp-action="Index">
                Customer Service
            </a>
        </li>

        <li>
            <a asp-controller="Store"
               asp-action="Index">
                Store
            </a>
        </li>


        <li>
            <a asp-controller="Account"
               asp-action="Register"
               class="mobile-nav_hide"
               >
                Become Member
            </a>
        </li>

        
    </ul>

</div>