@model List<Presentation.WebApp.Models.BookingViewModel>

@if (!Model.Any())
{
    <p>No bookings yet.</p>
}
else
{
    <div class="booking-list">

        @foreach (var booking in Model)
        {
            <partial name="Partials/_BookingItem" model="booking" />
        }

    </div>
}