@model Presentation.WebApp.Models.BookingViewModel

<div class="booking-card">

    <div class="booking-main">
        <div class="booking-title">
            @Model.ClassName
        </div>

        <div class="booking-time">
            @Model.StartTime.ToString("dddd dd MMM HH:mm")
        </div>
    </div>
<p>DEBUG: @Model.BookingId</p>
    <div class="booking-actions">
        <form asp-controller="Booking"
              asp-action="Cancel"
              asp-route-id="@Model.BookingId"
              method="post">

            <button class="btn-danger">
                Cancel
            </button>
        </form>
    </div>

</div>