<div class="membership-call-card">

    <h3>Get Your Membership</h3>

    <p>
        Our memberships give you access to all equipment, personalized training.
    </p>

    <strong>Call Us At: +(46) 8 410 521 00</strong>

    <a href="tel:+46841052100" class="membership-call-btn">
        Call Us Today! <span>›</span>
    </a>

    <img src="~/images/membership-image.png" alt="Fitness member" />

</div>