<nav class="navbar">
    <div class="logo">CoreFitness</div>

    <ul class="nav-links">
        <li><a href="/">Home</a></li>
        <li><a href="/Home/About">About</a></li>
        <li><a href="/Home/Contact">Contact</a></li>
    </ul>

    <div class="nav-actions">
        <a class="btn-outline" href="/Account/Login">Sign in</a>
    </div>
</nav>