@model Presentation.WebApp.Models.UserProfileViewModel

<div class="profile-user-card">
    <div class="profile-user-info">
        <h1>@Model.FullName</h1>
        <p>@Model.Email</p>
    </div>
</div>