@model Presentation.WebApp.Models.UserProfileViewModel

<div class="profile-user-card">
    <div class="profile-user-info">
        <h1>@Model.FirstName @Model.LastName</h1>
        @if (@Model.PhoneNumber != null)
        {
            <p>@Model?.PhoneNumber
            </p>            
        }
        <p>@Model?.Email</p>
    </div>
</div>