@{
    ViewData["Title"] = "Core Fitness";
}
<section class="home-hero-shell">
    <partial name="~/Views/Shared/Home/_Hero.cshtml" />
</section>
<partial name="~/Views/Shared/Home/_BrandStrip.cshtml" />
<partial name="~/Views/Shared/Home/_AboutSection.cshtml" />
<partial name="~/Views/Shared/Home/_ProgramSection.cshtml" />
<partial name="~/Views/Shared/Home/_StoreSection.cshtml" />
<partial name="~/Views/Shared/Partials/Common/_Footer.cshtml" />
<div class="text-center">
    <h1 class="bg-green-700">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
