@{
    ViewData["Title"] = "Core Fitness";
}
<section class="home-hero-shell">
    <partial name="~/Views/Shared/Home/_Hero.cshtml" />
</section>
<partial name="~/Views/Shared/Home/_BrandStrip.cshtml" />
<partial name="~/Views/Shared/Home/_AboutSection.cshtml" />
<partial name="~/Views/Shared/Home/_ProgramSection.cshtml" />
<partial name="~/Views/Shared/Home/_StoreSection.cshtml" />
<partial name="~/Views/Shared/Partials/Common/_Footer.cshtml" />

