@{
    ViewData["Title"] = "Core Fitness";
}

<div class="text-center">
    <h1 class="bg-green-700">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
