

<section class="account-card" id="about-me">

    <h2>About Me</h2>

    <form class="account-form">

        <div class="form-row">
            <label>First Name</label>
            <input value="" placeholder="Enter First Name" />
        </div>

        <div class="form-row">
            <label>Last Name</label>
            <input value="" placeholder="Enter Last Name" />
        </div>

        <div class="form-row">
            <label>Email Address *</label>
            <input value="" placeholder="username@domain.com" />
        </div>

        <div class="form-row">
            <label>Phone Number</label>
            <input value="" placeholder="Enter Phone Number" />
        </div>

        <div class="form-row form-row--file">
            <label>Profile Image</label>

            <div class="file-input">
                <span>Upload Profile Image</span>
                <button type="button">Browse</button>
            </div>
        </div>

        <div class="account-form__actions">
            <button class="account-save-btn" type="button">
                Save <span>›</span>
            </button>
        </div>

    </form>

</section>