

<section class="account-statistics">

    <h2>My Statistics</h2>

    <div class="statistics-card">

        <div class="stat-row">
            <div class="stat-row__top">
                <span>Check-In (last 30 days)</span>
                <strong></strong>
            </div>
            <div class="stat-bar">
                <span style="width: 95%"></span>
            </div>
        </div>

        <div class="stat-row">
            <div class="stat-row__top">
                <span>Weight Goal</span>
                <strong>50%</strong>
            </div>
            <div class="stat-bar">
                <span style="width: 50%"></span>
            </div>
        </div>

        <div class="stat-row">
            <div class="stat-row__top">
                <span>Current BMI</span>
                <strong>21</strong>
            </div>
            <div class="stat-bar">
                <span style="width: 65%"></span>
            </div>
        </div>

    </div>

</section>