.brand-strip {
    background: var(--theme-color);
    border-radius: 20px;
    min-height: 120px;

    margin: 12px 0;

    display: flex;
    align-items: center;
}

.brand-strip__container {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 3rem;
    gap: 3rem;
}

.brand-strip__logos {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1.5rem;

    flex: 1;
    min-width: 0;

    overflow: hidden;
}

.brand-strip__container img {
    height: 40px;
    width: auto;

    object-fit: contain;

   
}

.brand-strip__title {
    font-family: var(--font-heading);
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--dark-color);

    white-space: nowrap;
    flex-shrink: 0;

    min-width: 420px;
    text-align: right;
}