<section class="section__header">
    <div>
        <a href="/"><img src="~/images/logotype.png" alt="CoreFitness LogoType" /></a>
    </div>
    <nav>
        <li class="">
            <a class="" asp-action="Index" asp-controller="FitnessCenters">Fitness Centers</a>
        </li>
        <li class="">
            <a class="" asp-action="Index" asp-controller="Memberships">Memberships</a>
        </li>
        <li class="">
            <a class="" asp-action="Index" asp-controller="Training">Training</a>      
        </li>
    </nav>
    <nav>
        <ul class="">
            <li><a asp-area="Authentication" asp-controller="SignUp" asp-action="GetStarted">Become Member</a></li>
            <li><a class ="" asp-area="Authentication" asp-contoller="SignIn" asp-action="SignIn">Sign In</a></li>
        </ul>
        
    </nav>
    <button id="mobile-menu-button" data-target="#mobile-menu-flyout"></button>
</section>